@layout LoginLayout
@page "/login"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-none d-lg-block" style="border-right:groove">
                <img src="./images/AeroMechNotInline.jpeg" style="max-width: 400px" />
            </div>
            <div class="col-6 d-none d-lg-block" style="border-left:groove">
                <div class="row" style="height:100px">
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        @if (!string.IsNullOrEmpty(_errorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @_errorMessage
                            </div>
                        }
                        
                        <!-- Traditional HTML form that posts to Razor Page -->
                        <form method="post" action="/Account/SignIn" id="loginForm" @onsubmit="HandleSubmit" @onsubmit:preventDefault="true">
                            <div class="form-group">
                                <label for="user-name">User name</label>
                                <input type="text" class="form-control" id="user-name" name="UserName" @bind="_credential.UserName" placeholder="e-mail" />
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" @bind="_credential.Password" placeholder="Password" />
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            <div class="row d-block d-sm-none">
                <div class="row" style="height:100px">
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        @if (!string.IsNullOrEmpty(_errorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @_errorMessage
                            </div>
                        }
                        
                        <!-- Traditional HTML form for mobile -->
                        <form method="post" action="/Account/SignIn" id="loginFormMobile" @onsubmit="HandleSubmit" @onsubmit:preventDefault="true">
                            <div class="form-group">
                                <label for="user-name-mobile">User name</label>
                                <input type="text" class="form-control" id="user-name-mobile" name="UserName" @bind="_credential.UserName" placeholder="e-mail" />
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="password-mobile">Password</label>
                                <input type="password" class="form-control" id="password-mobile" name="Password" @bind="_credential.Password" placeholder="Password" />
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" id="login-mobile" name="login" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-sm-none">
            <img src="./images/AeroMechNotInline.jpeg" style="max-width: 400px" />
        </div>
    </div>
</center>


