@if (quotes != null)
{
    <div class="widger-container">
        <table class="widget-data-table">
            <thead class="widget-data-header">
                <tr>
                    <td class="widget-data-col">
                        Quote Number
                    </td>
                    <td class="widget-data-col">
                        Report Number
                    </td>
                    <td class="widget-data-col">
                        Sales Order Number
                    </td>
                    <td class="widget-data-col report-date">
                        Date
                    </td>
                </tr>
            </thead>
            <tbody class="widget-data-body">
                @foreach (var quote in quotes)
                {
                    <tr class="widget-data-row" @onclick="() => LoadQuote(quote.Id)">
                        <td class="widget-data-col report-number">
                            @($"AEM{@quote.QuoteNumber}")
                        </td>
                        <td class="widget-data-col report-number">
                            @($"AEM{@quote.Id}")
                        </td>
                        <td class="widget-data-col">
                            @quote.SalesOrderNumber
                        </td>
                        <td class="widget-data-col report-date">
                            @quote.ReportDate.ToString("dd-MMM-yyyy")
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
else
{
    <div>Loading...</div>
}


