@using BlazorBootstrap
@inherits LayoutComponentBase


<PageTitle>Aeromech.UI.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
        <div class="top-row px-4">
            <LoginDisplay /> 
           @*  <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


