@page "/ShowQuote"
@page "/ShowQuote/{reportId:int}"
@using BlazorBootstrap

@if (pdfBase64String != null)
{
    <Button class="download-report" Color="ButtonColor.Primary" @onclick="DownloadFileFromStream">Download</Button>
    <PdfViewer Class="mb-3"
               Url="@string.Format("data:application/pdf;base64,{0}", pdfBase64String)"
               OnDocumentLoaded="OnDocumentLoaded"
               OnPageChanged="OnPageChanged" />
}