@page "/reports"

<PageTitle>Reports</PageTitle>

<div class="container-fluid">
	<div class="row">
		<div class="col-11"><h1>Reports</h1></div>
	</div>

	<div>Report</div
 


	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Field Service Report</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Material Requisition</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Employee Potential</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Timesheet</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Vehicle Part No Service Record</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Vehicle Service Record</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>
				<tr>
					<td>Vehicle Type Service Record</td>
					<td><button class="btn btn-link">Run</button></td>
				</tr>				 
			</tbody>
		</table>
	</div>
</div>

@code {

}